In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")

In [5]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [7]:
df = df[df['IMDb']>6.0]

In [9]:
df

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [13]:
df.to_csv('new_data.csv', index = False)

In [22]:
df3 = pd.read_json("data.json")

In [20]:
df

,id,name,age,gender,program,registration_date,status,projects
0,1,Mohammad Khan,30.0,M,Computer Science,2023-09-01,Active,"{'name': 'Image Editor v1', 'last_edited_image..."
1,2,Abdullah Rahman,22.0,M,Mathematics,2023-09-01,Active,"{'name': 'Photo Filter App', 'last_edited_imag..."
2,3,Najifa Ahmed,21.0,F,Physics,2023-09-01,Dropped,"{'name': None, 'last_edited_image': None, 'edi..."
3,4,Dina Islam,19.0,F,Chemistry,2023-09-01,Graduated,"{'name': 'Image Crop Tool', 'last_edited_image..."
4,5,Tasnim Begum,NaN,F,Biology,2023-09-01,Active,"{'name': 'Background Remover', 'last_edited_im..."

In [30]:
data = [
    {
        "id": 1,
        "name": "Mohammad Khan",
        "age": 30,
        "gender": "M",
        "program": "Computer Science",
        "registration_date": "2023-09-01",
        "status": "Active",
        "projects": {
            "name": "Image Editor v1",
            "last_edited_image": "landscape.jpg",
            "edits_applied": ["resize", "rotate", "grayscale"],
            "last_modified": "2025-05-15T10:30:00Z"
        }
    },
    {
        "id": 2,
        "name": "Abdullah Rahman",
        "age": 22,
        "gender": "M",
        "program": "Mathematics",
        "registration_date": "2023-09-01",
        "status": "Active",
        "projects": {
            "name": "Photo Filter App",
            "last_edited_image": "portrait.png",
            "edits_applied": ["blur", "brightness"],
            "last_modified": "2025-05-18T14:20:00Z"
        }
    }
]

In [32]:
df = pd.json_normalize(data)

In [34]:
df

,id,name,age,gender,program,registration_date,status,projects.name,projects.last_edited_image,projects.edits_applied,projects.last_modified
0,1,Mohammad Khan,30,M,Computer Science,2023-09-01,Active,Image Editor v1,landscape.jpg,"[resize, rotate, grayscale]",2025-05-15T10:30:00Z
1,2,Abdullah Rahman,22,M,Mathematics,2023-09-01,Active,Photo Filter App,portrait.png,"[blur, brightness]",2025-05-18T14:20:00Z